html {
  background: gray;
  font-family: sans-serif;
  font-size: 11px;
}

body {
  max-width: 18cm;
  background: white;
  margin: auto;
  display: flex;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;

}

a:hover {
  color: #444;
}


#izquierda img {
  width: 100%;
  display: block;
  border-radius: 50%;
}

#izquierda {
  flex: 1.4;
  background: #456C73;
  padding: 28px 20px 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

#izquierda h3 {
  color: #f3f3f3;
  font-size: 13px;
  letter-spacing: 1.6px;
  margin: 2px 0 8px;
}

#izquierda ul {
  margin: 0;
  padding-left: 16px;
}

#izquierda li {
  text-decoration: none;
  color: whitesmoke;
  margin: 6px 0;

}

#izquierda article * {
  font-size: 14px;
}

#derecha {
  flex: 2.2;
  padding: 42px 56px;
  background-color: aliceblue;
}

#derecha h1 {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 0 0 4px;
}

#derecha h2 {
  font-size: 16px;
  color: #444;
  margin: 0 0 4px;
}

#derecha p {
  color: #333;
  margin: 0 14px;
}

#derecha article {
  display: flex;
  align-items: center;
  gap: 20px;
}

#derecha article img {
  width: 50px;
  height: 50px;
}

#derecha article * {
  padding: 2px;
  margin: 0px;
}

#derecha li {
  letter-spacing: 1px;
  line-height: 1.6;
}

#formacion {
  display: flex;
  flex-direction: column;
  gap: 15px;
}